body {
background-color: black;
}

h1 {
position: relative;
left: 8px;
top: 87px;
font-size: 22px;
color: white;
}

p {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 22px;
    color: #FFFFFF;
    text-align: left;

}

.banner {
    
}
