* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felix-mittermeier-956999.jpg&fm=jpg");
}

.container {
	max-width: 960px;
	margin:auto;
	padding:20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin:10px;
}

.col-4 {
	flex:calc(33.33% - 20px);
	max-width:calc(33.33% - 20px);
	padding:10px;
}

.col-6 {
	flex:calc(50% - 20px);
	max-width: calc(50% - 20px);
	padding:10px;
}

header {
	padding: 20px;
}

header h1 {
	margin: 0;
	padding: 0;
	font-size: 36px;
	font-weight: 600;
	float: left;
}

h1 {
    color: rgb(51, 51, 149);
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
	margin-left: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

nav li a:hover {
	color: #1E90FF;
}

#about {
	color: white;
	padding: 100px;
}

#about h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

#about p {
	font-size: 18px;
	line-height: 1.5;
}

#projects {
	padding: 100px;
}

#projects h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
	text-align: center;
}

.project {
	background-color: black;
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow:10px white;
	transition: box-shadow 0.3s ease-in-out;
}

.project:hover {
	box-shadow:20px white;
}

.project h3 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

.project p {
	font-size: 18px;
	line-height: 1.5;
}

.info {
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow:10px white;
	transition: box-shadow 0.3s ease-in-out;
}

.info:hover {
    box-shadow:20px white;
}

.info h3 {
    font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

.info p {
    font-size: 18px;
	line-height: 1.5;
}

#INFO {
	color: white;
	padding: 100px;
}

#INFO h2 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

#INFO p {
	font-size: 18px;
	line-height: 1.5;
}

.Back {
	display: flex;
	justify-content: space-evenly;
}

h1 {
	color: gold;
}

h2 {
	color: white;
}

p {
	color: white;
}

h3 {
	color: white;
}
