* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

.header_text {
    font-size: 22px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

header {
    margin-bottom: 134px;
}

header nav {
    display: flex;
    padding: 5rem;
    justify-content: space-between;
}

header nav div ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
}

.figma_html {
    text-decoration: none;
    color: #ffffff;
}

.div1 {
    margin-bottom: 286px;
}

.div1 h2 {
    margin: 0 auto;
    max-width: 750px;
    font-weight: 400;
    text-align: center;
    font-size: 34px;
    line-height: 33px;
}

.portfolio {
    margin-bottom: 504px;
}

.portfolio_text {
    display: flex;
    justify-content: center;
    margin-bottom: 125px;
}

.portfolio_pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 450px;
}

h1 {
    font-size: 96px;
    font-weight: 400;
}

.about {
    max-width: 1117px;
    margin: 0 auto;
    margin-bottom: 343px;
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.about_text p {
    font-size: 31px;
    text-align: center;
}

.about_text h1 {
    margin-bottom: 55px;
}

.about_pictures {
    display: flex;
}

.services {
    margin-bottom: 320px;
}

.services_text {
    display: flex;
    justify-content: center;
    margin-bottom: 97px;
}

.services_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1117px;
}

.services_boxes {
    display: flex;
    flex-direction: column;
    padding: 43px 30px 76px 30px;
}

#box1 {
    background-color: #F2F2F2;
}

#box2 {
    background-color: #E2E2E2;
}

#box3 {
    background-color: #C0C0C0;
}

#box4 {
    background-color: #B4B4B4;
}

.box_title {
    word-spacing: 11rem;
    max-width: 496px;
    font-size: 60px;
    line-height: 58px;
    color: #000000;
    margin-bottom: 25px;
}

.box_text {
    font-size: 26px;
    color: #000000;
    margin-bottom: 73px;
}

.box_quote {
    font-size: 26px;
    color: #000000;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 122px;
    margin-bottom: 258px
}

.contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 63px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 22px 90px 22px 100px;
}

.left p {
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.right ul {
    display: flex;
    gap: 98px;
}

.right ul li {
    font-size: 20px;
    color: #000000;
    list-style-type: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
    header {
        margin-bottom: 48px
    }
    
    header nav {
        padding: 34px 36px;
    }
    
    .header_text {
        display: none;
    }

    h1 {
        font-size: 24px;
        line-height: 23px;
    }

    .portfolio {
        margin-bottom: 105px;
    }

    .portfolio_pictures {
        display: flex;
        width: 209px;
        height: 202px;
        overflow: hidden;
        padding: 0;
        gap: 19px;
    }

    .portfolio_item {
        display: flex;
        align-items: normal;
    }

    .about_pictures {
        overflow: hidden;
        object-fit: scale-down;
    }

    .about_pictures img {
        width: 109px;
        height: 146px;
    }

    figure {
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
    }

    figure img {
        height: auto;
        float: left;
    }

    .about {
        margin-bottom: 91px;
    }

    .about_text p {
        font-size: 8px;
        line-height: 8px;
        padding: 0 50px;
    }

    .services {
        margin-bottom: 83px;
    }

    .services_items {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        height: 200px;
        gap: 20px;
    }

    .services_boxes {
        height: 200px;
        aspect-ratio: 1/1;
    }

    .contact {
        gap: 43px;
        margin-bottom: 70px;
    }

    .box_title {
        font-size: 15px;
        line-height: 15px;
    }

    .box_text {
        font-size: 6px;
        line-height: 6px;
        margin-bottom: 22px;
    }

    .box_quote {
        font-size: 6px;
        line-height: 6px;
    }

    .contact_info {
        font-size: 17px;
        line-height: 17px;
    }

    footer {
        background-color: #000000;
        justify-content: center;
    }

    .left p {
        color: #ffffff;
    }

    .right {
        display: none;
    }
}
